<section *ngIf="books; else loading">
  <div class="grid-x">
    <div class="cell medium-10 medium-offset-2 title-heading">
      <h2>Developer Books<span class="line"></span></h2>
    </div>
  </div>
  <div class="books">
    <div class="book">
      <div class="grid-x" *ngFor="let book of books.items">
        <div class="cell medium-2 medium-offset-2">
          <div class="book-wrapper">
            <img
              class="thumbnail"
              [src]="book.volumeInfo.imageLinks.smallThumbnail"
            />
            <div class="hide-for-medium mobile-details">
              <h4>{{ book.volumeInfo.title }}</h4>
              <ul
                class="menu authors"
                *ngFor="let author of book.volumeInfo.authors"
              >
                <li>
                  {{ author
                  }}<span *ngIf="book.volumeInfo.authors.length > 0">,</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="cell medium-6 details">
          <div class="hide-for-small-only">
            <h4>{{ book.volumeInfo.title }}</h4>
            <span
              class="authors"
              *ngFor="let author of book.volumeInfo.authors"
            >
              {{ author + "," }}
            </span>
          </div>

          <p class="description">
            {{ book.volumeInfo.description | slice: 0:171 }}
            <a [routerLink]="['details', book.id]">Read more... </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #loading
  ><div class="lds-ring">
    <div></div>
    <div></div>
    <div></div>
    <div></div></div
></ng-template>
